.article-card {
  background-color: var(--white);
  border: 1px solid var(--black);
  border-radius: 20px;
  box-shadow: 8px 8px var(--black);
  color: var(--black);
  max-width: 370px;
  padding: 20px;
}

.article-image {
  border-radius: 10px;
  width: 100%;
}

.content {
  margin-block-start: 30px;
}

.informations {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.tag {
  background-color: var(--yellow);
  border-radius: 5px;
  font-size: var(--text-sm);
  font-weight: 700;
  padding: 6px 12px;
  width: max-content;
}

.date {
  font-size: var(--text-sm);
}

.main-informations {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-block: 30px;
}

.title {
  font-size: 26px;
}

.description {
  line-height: 1.4;
  opacity: 0.7;
}

.footer {
  align-items: center;
  display: flex;
  gap: 10px;
}

.author-image {
  height: 40px;
}

.author {
  font-size: var(--text-sm);
  font-weight: 700;
}
